{{> head }}

<body>
    {{> navbar}}

    <div class="container">
        {{{ body }}}
    </div>
    
    {{!-- <div class="modal-out">
      <div class="modal-in">
        <h3>Авторизация</h3>
        <hr>
        <br>
          <form action="">
            <input type="text" placeholder="Login" name="" id="">
            <input type="text" placeholder="Possword" name="" id="">
            <button class="btn">Воийти</button>
          </form>
      </div>
    </div> --}}

    {{> footer }}
</body>
</html>